
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	font-family:"Poppins" sans-serif;
	margin: 0;
	line-height: 1.11;
}




html {
	color-scheme: dark light;
}

input, textarea, button, select {
	font: inherit;
}


strong { font-weight: bold; }


ul[role="list"],
ol[role="list"] {
  list-style: none;
  text-decoration: none;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: wheat;
}





p {
	font-family: Perpetua, Baskerville, Baskerville Old Face, serif;
	padding-top: 2px;
	font-weight: normal;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 4px;
	color: salmon;
	text-indent: .25em;
	padding-left: 0;
	word-spacing: 1.24px;
	letter-spacing: .003px;
	line-height: 1.11;
	font-size: 2.8vmin;
	display: block;
}




.adjust {
   font-size-adjust: 0.76;
  }


h1,
h2,
h3,
h4,
h5,
figure,
blockquote,
dl,
dd {
	 margin: 0px;
	 padding: 0px;
	 padding-left: 0px;
	 word-spacing: 1.24px;
	 letter-spacing: .003px;
	 line-height: 1.11;
}




h1 {
	padding-top: 2px;
	padding-bottom: 3px;
	margin-bottom: 0px;
	font-family: 'Luminari', serif;
	color: silver;
	font-weight: 600;
	line-height: 1.11;
	font-size: 2.8vmin;
	text-shadow: 0px 0px 2px #222;

}



h2 {
	color: lightgoldenrod;
	line-height: 1.11;
	padding-top: 3.5px;
	padding-bottom: 4.5px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	text-shadow: 0px 0px 3px #222;

}



h3 {
	color: wheat;
	padding-top: 2.8px;
	padding-bottom: 3px;
	font-family: 'Roboto Slab', serif;
	line-height: .9;
	margin-top: 2.8px;
	margin-bottom: 2px;

}





h4,
h5 {
	line-height: 1.11;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-bottom: .75rem;
	font-family: Georgia, 'Times New Roman', serif;
	font-weight: normal;
	text-justify: auto;
}




img,
picture, svg, video {
  color: wheat;
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding-bottom: 2.25px;
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: .69;
}

img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}



textarea {
  outline: none;
  resize: none;
  overflow-y: auto;
  font-size: 2.8vmin;
} 


input,
button,
select {
		margin: 0;
		font: relative;
		line-height: 1.11;
		padding: 1.25%;
}



data {
	margin: auto;
	padding: 3px 3px;
	color: honeydew;
	text-shadow: 0px 0px 3px #333333;
	text-transform: uppercase;
	font-size: 2.8vmin;
	line-height: 1.11;
	font-weight: lighter;
	text-shadow: 0px 0px 3px #333;
	text-transform: uppercase;
}



div {
	margin: 0 auto;
	margin-bottom: .1em;
	padding-left: 0px;
}


.cover {
  object-fit: cover;
  width: 100%;
  height: auto;
}




section {
	margin: auto auto;
	margin-top: -12%;
	margin-bottom: -8%;
	max-width: 60vmin;
	min-width: 40vmin;
	height: auto;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  margin-left: 60% 50%;
  flex-direction: column;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: center;
	align-items: auto auto;
	justify-content: center;
	vertical-align: middle;

}







/* width */
::-webkit-scrollbar {
	display: block;
	background: #111;
  width: 8px;
  height: 0vmin;
}


/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: olive;
  filter: grayscale(15%);

}

::-webkit-scrollbar-button {
background: #000;
}

::-webkit-scrollbar-corner {
	background: #000;
}




hr {
	margin-top: 2px;
	margin-bottom: .25em;
	padding-top: 0px;
	margin: 0 auto;
	width: 65%;
	size: 1pt;
	border-style: inset;
	text-decoration: none;
	opacity: .3;
	border-radius: 2px;
}



line-breaks {
	style-height: .25px;
}



wrapper {
	margin: 0 auto;
	padding: 0;
}


/*
.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
*/




dialog::backdrop {
	background: linear-gradient( to bottom, lightcoral, #000);
	opacity: .7;
	}


.modal1 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}



.modal2 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}


.modal3 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	
}


.modal4 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	
}


.modal5 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}


.modal6 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	
}


.modal7 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}


.modal8 {	
	margin: auto auto;
	margin-top: .8em;
	margin-bottom: 2%;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1.25em;
	padding-bottom: 1.5em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}


/*
.modal9 {	
	margin: auto auto;
	margin-top: 1em;
	border: none;
	position: relative;
	width: 90em;
	height: 75em;
	padding: 1em;
	background-color: #141414;
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
*/

dialog::backdrop {
	background: linear-gradient( to bottom, lightcoral, #000);
	opacity: .7;
	}






html {
	background-color: black;
	margin: 0 auto;	
 	font-size: 100%;
 	line-height: 1.11;
 	height: -webkit-fill-available; 
	-ms-overflow-style: none;  /* IE and Edge */
 	scrollbar-width: none;  /* Firefox */
 	font-family: Merienda, Helvetica, Arial, sans-serif;
 	scroll-behavior: smooth;
	white-space: wrap;
	box-sizing: border-box;
	filter: grayscale(38%);
	overflow: auto;
}


html::focus-within {
	 scroll-behavior: smooth;
}





body {
	scroll-padding-top: 3.6rem;
	top: 0;
	background-image: linear-gradient(hsl(2, 30%,10%), #000);
	word-spacing: 1.24px;
	letter-spacing: .003px;
	line-height: 1.11;
	background-color: #999;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: .5rem;
	padding-bottom: 6px;
	color: papayawhip;
	text-rendering: optimizeSpeed;
	border-style: none;
 	border-radius: 0pxm;
	font-size: 2.8vmin;
	max-width: 1440px;
	width: 99.8vw;
	height: 100vh;
	display: block;
	height: -webkit-fill-available;
	text-rendering: optimizeSpeed;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  vertical-align: middle;
  overflow: auto;

}




.editor-pic {
	margin: 0 auto;
	background-image: url("img/Sly_aka_Selah.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto auto;
	width: 38px;
	height: 38px;
	background-color:#000;
	display:inline-block;
	position: relative;
	margin-top: -3rem;
	margin-bottom: .5em;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-style: solid;
	border-width: 4.6px;
	color: #141414;
	border-radius: 50%;
	visibility: hidden;
}




main {
	overflow: hidden;
	margin: 0;
	margin-bottom: .8em;
	padding:0px;
}



#about {
	display: block;
	margin: auto;
	display: block;
	line-height: 1.11;
	position: relative;
	padding-bottom: 1.8em;
}


#skills {
	display: block;
	padding-top: 4px;
	padding-bottom: 1.8em;
	margin-bottom: 1.8em;
	text-shadow: 0px 0px 3px #333333;
}


#contact-me {
	color: honeydew;
	display: block;
	line-height: 1.11;
	padding-top: .25rem;
	margin-top: .25rem;
}



.acc-color {
	color:  darkgoldenrod;
	padding-left: -8px;
	font-weight: bold;
	line-height: 1.11;
	font-size: 2.8vmin;
	text-shadow: 0px 0px 3px #333333;
}


.acc-color2 {
	color: papayawhip;
	padding: 0;
	line-height: 1.11;
	font-weight: bold;
	font-size: 2.8vmin;
}





header {
	margin: 0 auto;
	width: 100vw;
	height: auto;
	align-content: center;
	box-sizing: border-box;
	align-items: center;
	position: relative;
	background-color: #000;
	justify-content: center;
	border-style: none;
	border-radius: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}




.artbox {
	background-image: url("img/1.png");
	background-size: 100%;
	background-position: 48% 48%;
	background-repeat: no-repeat;
}


.container {
	margin: auto auto;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 0;
	width: 78%;
	height: auto;
	display: block;
	background-color: black;

/*		background-color:rgb(50, 50, 50, 0.3);
background-color: hsl(2, 30%,10%);
	*/

	border-style: none;
	border-radius: .5em;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.header-container {
	background-image: url("img/quinton-coetzee-gpa8Y_Fk7Rg-unsplash.jpg");
	background-size: cover;
	background-position: 64% 58%;
	background-repeat: no-repeat;
	margin:0;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 22px;
	width: 100vw;
	height: 4px;
	display: block;
	background-color: #111;
	align-content: center;
	border-radius: 0px;
	justify-content: center;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .9;
}



content {
	margin: 0 auto;
	padding: 0px;
	display: block;
}



.separator {
	margin: 0 auto;
	margin-top: 9rem;
	padding-top: 0px;
	padding-bottom: .25em;
	color: lightyellow;
	text-align: center;
	position: block;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	font-size: x-large;
	text-shadow: 0px 0px 3px #333333;
}



menu {
	margin: auto;
	padding: 2px;
	display: block;
}

.nav {
	background-image: linear-gradient(hsl(2, 30%,10%), #222);
	margin: auto;
	margin-top: 0px;
	margin-bottom: .5em;
	padding: 1.8% 11.7%;
	top: 0;
	width: 100vw;
	height: auto;
	max-height: 6vh;
	display: flex;
	flex: auto;
	overflow: hidden;
	left: 0;
	right: 0;
	border-style: none;
	border-radius: 0px;
	position: sticky;
	align-items: center;
	align-content: center;
	text-align: center;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 3vmin;
	line-height: 1.11;
	z-index: 9999;
	opacity: .9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}






.nav-links {
	display: flex;
	flex: auto;
	transition: all 0.2s ease 0s;
	justify-content: center;
}





.nav-links li {
	list-style: none;
	display: inline-block;
	padding: .42em;
}

	.nav-links li:hover{
		background-color: none;
		font-size: 2.8vmin;
		text-transform:  uppercase;
		padding: 3px;
		display: inline-block;
		opacity: .3;
		font-family: "Poppins" sans-serif;
	}










ul {
	font-size: 2.3vmin;
 	line-height: .9;
 }

.nav ul {
	margin: 0;
	margin-bottom: 0px;
	align-items: auto auto;
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	border-style: none;
	border-radius: none;
	justify-content: space-around;

}

.nav ul li {
	margin: 0;
	padding: 0;
	display: flex;
	flex: auto;
	margin-bottom: 0;
	padding: 0px 2.25%;
	text-transform: uppercase;
	list-style: none;
	float: right;
	text-align: center;
}







a {
	text-decoration: none;
	background-color: none;
	font-size: 2.3vmin;
	margin: auto;
	line-height: 1;
}


.nav a {
	color: darksalmon;
	font-weight: bolder;
	display: inline-block;
	text-decoration: none;
}
























span {
	padding: 0;
	margin: 0;
	display: absolute;
	padding-left: 0px;
}



span.first-name {
	margin: -8px;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 5.4vmin;
	font-weight: bold;
	color: lightyellow;
	font-family: "Poppins" sans-serif;
	text-shadow: 0px 0px 3px #333333;
}



span.slogan-name {
	margin: -3px;
	padding-left: 5px;
	font-size: xx-large;
	font-weight: 800;
	color: #000;
	font-family: "Poppins";
	text-shadow: 0px 0px 3px #333333;
}



span.job-title {
	margin: 3px;
	padding-left: 0px;
	font-size: 2.8vmin;
	color: darkgoldenrod;
	text-shadow: 1px 1px 1px #000;
}



span.highlight {
	margin: 0;
	background-color: #000;
	padding: 2px;
	height: auto;
	line-height: 1.5;
	margin-top: .25px .5px;
	display: relative;
	border-radius: 0px;
	box-sizing: border-box;
	opacity: .6;
}


span.highlight_ft {
	background-color: black;
	padding: 1%;
	height: auto;
  line-height: 0;
	font-size: x-large;
	display: block;
	border-radius: none;
	box-sizing: border-box;
}



span.logo {
	margin:  auto;
	display: block;
	justify-content: left;
	font-size: 3.9vmin;
	max-width: 200px;
	height: auto;
	margin-top: 1.5em;
	padding-top: 2px;
	padding-left: -9px;
	align-items: auto auto;
	text-align: left;
	margin-bottom: 1.8em;
	font-weight: 600;
	color: olive;
	transition: 2s;
	box-sizing: border-box;
}

span.logo:hover {
	transform: scale(1.1);
	cursor: pointer;
	opacity: .6;
}



span.dev {
	font-weight: bolder;
	margin: auto;
	font-size: larger;
	margin: auto auto;

}



span.corner-text {
	margin-top: -6.5em;
	margin-right: -30px;
	font-size: 2.5vmin;
	display: block;
	float: right;
	color: darkgoldenrod;
	font-weight: bolder;
}






span.welcome {
	margin: 0;
	font-weight: bold;
	font-size: 4.8vmin;
	padding-left: 0px;
	color: darksalmon;
	text-shadow: 0px 0px 3px #333333;

}




span.hire-me {
	margin: 0;
	float: right;
	padding-right: 8px;
	margin-bottom: 0px;
	font-size: 2.8vmin;
	color: papayawhip;
	font-weight: lighter;
	text-shadow: none;
}

















.border-left {
	margin-top: 4px;
	padding-left: 14px;
	margin-left: 9px;
	height: auto;
	border-style: solid;
	border-color: papayawhip;
	border-width: 5px;
	border-radius: .5em;
	border-top: none;
	border-bottom: none;
	border-right: none;
}











.screen {
	margin: 0 auto;
	padding-left: .25em;
	padding-right: .25em;
	max-width: 100vmin;
	height: auto auto;
	display: block;
	border-style: solid;
	border-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-sizing: border-box;
	justify-content: left;
	align-content: center;
	align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: .5;

}

.screen:hover {
	opacity:.9;
}







.hero-section {
	background-image: url("img/lukas-denier-f6jzzn2EMnQ-unsplash.jpg");
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	vertical-align: middle;
	margin: 0 auto;
	padding-top: 98px;
	margin-bottom: .5em;
	margin-top:  .25em;
	padding-left: 14%;
	padding-right: 11%;
	padding-bottom: .5em;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	background-color: #000;
	color: lightyellow;
	border-style: none;
	border-radius: .25em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-sizing: border-box;
	font-size: larger;
	overflow: hidden;
}



.hero-section:hover {
	background-image: url("img/Sly_aka_Selah.jpg");
  transition: 0.3s;
  transform: scale(.82);
  margin: auto auto;
	margin-top: .25em;
	margin-bottom: -1.25em;
	padding-top: 1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 48vmin;
	height: 48vmin;
	background-color:#000;

	display:flex;
	flex: auto;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	position: inherit;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-style: none;
	border-width: 4.3px;
	color: #000;
	border-radius: 50%;
	opacity: .6;
	overflow: hidden;
  }



.frame {
	background-color:none;
	display:block;
	position: relative;
	margin-top: -4.5em;
	margin-bottom: 2px;
	box-sizing: border-box;
	width: 14vmin;
	height: auto;
	justify-content: center;
	align-items: auto auto;
	align-content: center;
	border-style: none;
	border-width: 4.6px;
	color: #141414;
	border-radius: 50%;

}








/*
.about-section {
	background-image: url("img/vincent-van-zalinge-0UnxFbhVLA4-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 40%;
	position: relative;
	padding-left: 20px;
	padding-right: 10%;
	line-height: 1.11;
	margin: auto;
	margin-top: -9em;
	padding-bottom: 8rem;
	width: 60%;
	max-height: 40vh;
	min-height: 25vh;
	display: block;
	color: darkred;
	background-color: black;
	border-style: none;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: smaller;
	font-weight: lighter;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

*/

.about-section {
	margin: 0 auto;
	background-size: cover;
	background-position: 10% 50%;
	background-repeat: no-repeat;
	top: 3rem;
	padding-left: 11px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 1em;
	line-height: 3;
	max-width: 60vmin;
	max-height: 80vh;
	height: auto;
	display: block;
	background-color: #000;
	border-style: none;
	border-radius: .5em;
	box-sizing: border-box;
	position: relative;
	align-content: left;
	text-align: left;
	font-size: 2.8vmin;
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .9;
	overflow: hidden;
}



.about-section:hover {
  transition: 0.3s;
  transform: scale(1.1);
  }





.skills-section {
	scroll-margin-top: .25em;
	margin: 0 auto;
	background-image: url("img/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg");
	background-size: cover;
	background-position: 10% 50%;
	background-repeat: no-repeat;
	top:6rem;
	padding-left: 11px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: .5em;
	line-height: 1.11;
	max-width: 60vmin;
	max-height: 80vh;
	height: auto;
	display: block;
	background-color: none;
	border-style: none;
	border-radius: .5em;
	box-sizing: border-box;
	position: relative;
	align-content: center;
	text-align: left;
	color: black;
	font-size: 2.8vmin;
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: .9;
	overflow: hidden;
}




.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 2.8vmin;
  width: 100%;
  margin: auto auto;
  padding: 1.25em;
  word-spacing: .003;
	letter-spacing: .003px;
	line-height: 1.11;
	color: papayawhip;
	font-weight: bolder;
}

.code2 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 2.8vmin;
  width: 50%;
  margin: 0 auto;
  margin-left: 6px;
  padding: 1.25em;
  word-spacing: .003;
	letter-spacing: .003px;
	line-height: 1.11;
	color: papayawhip;
	font-weight: bolder;
}






.portfolio-proj {
	margin: auto auto;
	padding: .25% 1%;
	padding-bottom: 14px;
	width: 98%;
	height: 98%;
	display: block;
	position: relative;
	background-color: #141414;
	border-style: none;
	border-radius: .25em;
	box-sizing: border-box;
	align-content: center;
	align-items: auto;
	justify-content: center;
	vertical-align: middle;
}







.mywork1 {
	background-image: url("img/1.png");
	background-size: cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}



.mywork2 {
	background-image: url("img/2.png");
	background-size: cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}


.mywork3 {
	background-image: url("img/3.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}


.mywork4 {
	background-image: url("img/4.png");
	background-size: cover;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}



.mywork5 {
	background-image: url("img/5.png");
	background-size: 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y: auto;
}




.mywork6 {
	background-image: url("img/6.png");
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}





.mywork7 {
	background-image: url("img/7.png");
	background-size: cover;
	background-position: 12% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}





.mywork8 {
	background-image: url("img/8.jpg");
	background-size: cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 72%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .25em;
	overflow-x:hidden;
	overflow-y:auto;
}





/*
.mywork9 {
	background-image: url("img/9.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: auto;
	min-width: 60vmin;
	height: 80%;
	background-color: #141414;
	box-sizing: border-box;
	color: black;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	vertical-align: middle;
	border-radius: .5em;
	overflow-x:hidden;
	overflow-y:auto;
}

*/










.contact-section {
	margin: 0 auto;
	margin-top: .25rem;
	padding-top: .5rem;
	max-width: 50%;
	height: auto;
	line-height: 1.11;
	display: block;
	position: relative;
	border-style: none;
	box-sizing: border-box;
	text-align: center;
	align-content: center;
	justify-content: center;
	font-weight: normal;
}






.form-section {
	background-image: url("img/85613d20394307.56f83a9e8c3e2.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	line-height: .9;
	padding-top: 1.5em;
	padding-left: 12px;
	padding-bottom: 1.25em;
	width: 60vmin;
	min-height: 63vmin;
	max-width: 80vmin;
	max-height: 96vmin;
	margin-top: 5em;
	margin-bottom: 8%;
	display: inline-block;
	position: relative;
	background-color: #000;
	border-style: none;
	border-radius: .5em;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	align-content: center;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-style: solid;
	border-width: 2px;
	border-color:#222;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 2.6vmin;
}



input{
	margin: auto;
	margin-left: 0px;
	border-style: none;
	text-decoration: none;
	border-style: none;
	border-radius: .25em;
	background-color: #222;
	line-height: .9;
	color: whitesmoke;
	max-width: 63%;
	height: auto;
	opacity: .8;
	border-style: solid;
	border-color: honeydew;
	border-width: 1px;
	border-left:  none;
	border-top: none;
	border-right: none;
	font-weight: lighter;
}



.email {
	margin: 0 auto;
	margin-left: 0px;
	border-style: none;
	text-decoration: none;
	border-style: none;
	border-radius: .25em;
	background-color: #141414;
	color: whitesmoke;
	max-width: 63%;
	height: auto;
	border-style: solid;
	border-color: honeydew;
	border-width: 1px;
	border-top: none;
	border-right: none;
	border-left: none;
}




.message {
	background-position: 80% 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-left: 0;
	margin-bottom: -3px;
	text-decoration: none;
	border-radius: .25em;
	height: auto;
	background-color: #141414;
	color: gainsboro;
	max-width: 98%;
	border-style: solid;
	border-color: papayawhip;
	border-radius: .25em;
	border-width: 1px;
	text-shadow: 0px 0px 3px #333333;
	font-weight: normal;
	background-blend-mode: multiply;

}










.footer-links {
	margin: 0 auto;
	padding: 2% 12%;
	width: 5%;
	display: block;
	position: relative;
	box-sizing: border-box;
	background-color:#000;
	font-weight: bolder;
	transition: 2s;
	float: left;
}

.footer-links:hover{
	transform: scale(1.1);
	cursor: pointer;
}


.footer-links li a {
	color: white;
	background-color: none;
	display: inline-block;
	font-weight: 600;
}


.footer {
	background-image: url("img/9.png");
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: .25em;
	margin-top: 4.5rem;
	padding: 6vmin;
	width: 100%;
	position: relative;
	max-height: 48em;
	min-height: auto;
	display: block;
	background-color: #000;
	border-style: solid;
	border-bottom: none;
	border-top: none;
	border-color: darkgoldenrod;
	border-right: none;
	border-width: 5px;
	align-content: center;
	align-items: auto auto;
	box-sizing: border-box;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	vertical-align: middle;
}












.slogan-section {
	margin: 0;
	padding: 20px;
	width: 100%;
	height: auto;
	display: block;
	background-color: none;
	border-style: none;
	box-sizing: border-box;
	text-shadow: 0px 0px 3px #333333;

}



.slogan-section2 {
	margin: 0;
	margin-top: 0;
	padding: 0;
	width: 100%;
	height: auto;
	display: block;
	background-color: none;
	border-style: none;
	box-sizing: border-box;
}



.slogan-job {
	margin: 0;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 0;
	width: 100%;
	display: block;
	background-color: none;
	border-style: none;
	box-sizing: border-box;
	font-size: smaller;
	text-shadow: 1px 1px 1px #000;
}






.mail {
	margin: 0 auto;
	margin-top: -.5em;
	margin-bottom: -.5em;
	font-size: large;
	color: darkgoldenrod;
}

.mail:hover{
	transform: scale(1.1);
	cursor: pointer;
	color:#222;
	font-size: large;
}














.copyright {
	margin: auto auto;
	padding: 0;
	padding-top: 1px;
	padding-bottom: 3px;
	position: relative;
	width: fit-content;
	display: block;
	color: #777;
	align-items: center;
	justify-content: center;
	text-align: center;
	align-self: center;
	font-weight: normal;
	box-sizing: border-box;
}



button {
	margin: 0 auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: .25em;
	margin-bottom: .2em;
	padding: 2.2% 0%;
	border-style: none;
	border-radius: .25em;
	display: block;
	position: relative;
	height: auto;
	max-height: auto;
	width: 100%;
	background-color: darkgoldenrod;
	font-family: Helvetica;
	color: floralwhite;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 0px 0px 3px #333333;
	cursor: pointer;
	font-weight: bold;
	transition: 200ms ease-in-out;
	border-style: solid;
	border-width: 1pt;
	border-width: 1;
	border-color: #333;
}

button:hover {
	background-color: #111;
	font-weight: bolder;
	transform: scale(.96);
	cursor: pointer;
}


button:focus {
	 outline: .25em solid; papayawhip;
	 outline-offset: 2px;
}



button.resume-btn {
	left: 4.8px;
	margin: 0 auto;
	padding: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: xx-large;
}


button.reset {
margin-left: 0;
margin:0;
width: 23%;
display: block;
	border-style: none;
	justify-content: left;
	align-content: left;
	align-items: left;
	box-sizing: border-box;
}







button.form-button {
	margin-left: .0em;
	max-width: 100%;
	height: auto;
	padding: 1.25em 1em;
	text-transform: uppercase;
}



button.top-btn {
	width: 28px;
	height: 34px;
	margin: auto auto;
	display: block;
	margin-right: .8em;
	margin-top: -8em;
	padding: 4.25px;
	color: honeydew;
	background-color: #000;
	float: right;
	box-sizing: border-box;
	vertical-align: middle;

}



button.thedemo {
	margin: auto;
	margin-top: .25em;
	margin-bottom: .25em;
	padding: 1%;
	height: auto;
	width: 60%;
	display: block;
	demo: none;
	border-radius: 6px;
	justify-content: center;
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: darkgoldenrod;
	opacity: .9;
}


button.thecode {
	margin: auto;
	margin-top: .25em;
	margin-bottom: 1em;
	padding: 1%;
	height: auto;
	width: 60%;
	display: block;
	border-style: none;
	border-radius: 6px;
	justify-content: center;
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: #141414;
}



.icon-mail {
	color: lightyellow;
	font-weight: lighter;
	margin: auto;
	margin-left: 0px;
	font-size: 1.2vmin;
}